.scoreboardComponent {
  margin-left: 1cm
}

.displayHint {
  text-align: center;
  /* vertical-align: center;
  justify-content: center; */
}

.topRowScoreBoard {
  text-align: center
}

.ui.grid > .row {
  text-align: center;
  align-items: center;
}

.overallGrid {
  margin-left: 10%;
  margin-right: 10%;
}

.roundsWonAlign {
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.cardsLeftAlign {
  align-items: center;
}

div.row {
    align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.title {
  text-align: center;
  justify-content: center;
  color: black;
}

.passButtonWrapper {
  text-align: center;
   padding-top: 20px;

}

/* .gameStatusTable {
  width: 60%;
  margin-left: 40%
} */

/* .ui.container.leftColumn {
  display: inline-block;
  max-width: 200px;
} */
